Найдём количество сессий и количество пользователей и переименуем столбцы с этими данными.

In [1]:
import pandas as pd

In [2]:
users_data = pd.read_csv('C:\\Users\\37544\\Downloads\\users_data.csv')

In [3]:
users_data['session_start_ts'] = pd.to_datetime(users_data['session_start_ts'])
users_data['session_end_ts'] = pd.to_datetime(users_data['session_end_ts'])

In [4]:
users_data['session_year']  = users_data['session_start_ts'].dt.year
users_data['session_month'] = users_data['session_start_ts'].dt.month

In [5]:
# Находим кол-во пользователей и кол-во сессий
sessions_per_user = users_data.groupby(['session_year', 'session_month']).agg(
    {'id': ['count', 'nunique']}
)

In [6]:
# переименовываем колонки
sessions_per_user.columns = ['n_sessions', 'n_users']

In [11]:
# Кол-во сессий на одного пользователя
sessions_per_user['sess_per_user'] = (
    sessions_per_user['n_sessions'] / sessions_per_user['n_users']
)

In [12]:
sessions_per_user

                            n_sessions  n_users  sessions_per_user  \
session_year session_month
2018         5                   36716    26975           1.361112
             6                   47607    33473           1.422251
             7                   21586    15839           1.362839

                            sess_per_user
session_year session_month
2018         5                   1.361112
             6                   1.422251
             7                   1.362839